<div id="byv_<%= item.id %>" class="modal" style="max-width: 400px;">
  <%= form_tag add_by_value_order_item_path(item), remote: true do %>
    <div class="modal-content">
      <h5>Qual o valor?</h5>
      
      <p style="margin-top: 30px;">
        <div class="input-field">
          <i class="material-icons prefix">attach_money</i>
          <input name="value" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Valor</label>
        </div>
      </p>

    </div>
    <div class="modal-footer">
      <%= submit_tag "Adicionar para o carrinho", class: "btn-flat" %>
    </div>
  <% end %>
</div>