$(".cart-partial").html('<%= escape_javascript(render "cart/cart") %>');
var $toastContent = $('<span><%= escape_javascript(@order_item.item.name) %></span>');
Materialize.toast($toastContent, 5000);
