$(".cart").html('<%= escape_javascript(render "cart/cart") %>');
var $toastContent = $('<span><%= escape_javascript(@order_tinta.tinta_cor.codigo) %></span>');
Materialize.toast($toastContent, 5000);
