<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 style="margin-top: 40px;"><%= @client.name %></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <%= render "form" %>
    </div>
  </div>
</div>
