<div class="card-panel" style="margin-top: 1px;">
    <%= link_to "Pigmentos", pigmentos_formulas_path, class: "btn green" %>
    <%= link_to "Bases",     acabamentos_formulas_path, class: "btn green" %>
    <%#= link_to "Fórmulas", list_formulas_path, class: "btn green" %>
    <%#= link_to "Integração", integracao_formulas_path, class: "btn green" %>
    <%#= link_to "Importar", formulas_path, class: "btn grey" %>
</div>