<style>
  table {
    font-size: 18px;
  }
  td {
    padding: 5px 10px;
  }
  img {
    width: 60px;
    height: 60px;
  }
</style>

<table class="striped bordered">
  <thead>
    <tr>
        <th width="1%" data-field="id"></th>
        <th width="1%" data-field="id"></th>
        <th width="40%" data-field="name">Produto</th>
        <th width="15%" data-field="actions">Preço</th>
    </tr>
  </thead>

  <tbody>
    <% @items.order(:name).each do |item| %>

      <tr>
        <td><%= image_tag item.image.thumb %></td>
        <td><%= item.code %></td>
        <td><%= item.name %></td>
        <td align="center"><%= number_to_currency item.price %></td>
      </tr>

    <% end %>
  </tbody>
</table>
