<div class="row" style="margin-top: -8px">
  <div class="card-panel">
    <div class="search-offers">
      <%= form_tag dashboard_report_path, method: :get do %>
        <fieldset style="border: none; margin: 0; padding: 0;">
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :from, 'Data', class: "active" %>
              <%= date_field_tag :date, (params[:date] || Date.today) %>
            </div>
          </div>
            <button class="btn" type="submit" name="action">
              Filtrar
            </button>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class="col s12">
    <div class="card panel">
      <%= line_chart @data_year, {maintainAspectRatio: false} %>
    </div>
  </div>